*{
    font-family:'Quicksand';
}
.feedback-box{
    text-align: center;
    height:80%;
    overflow: scroll;
    background: rgba(23,23,23,0.8);
    padding: 30px 10%;
    border-radius: 10px;
    box-shadow: 1.8px 1.8px 1.8px 1.8px darkgrey;
}
.well{
    background: rgb(255,255,255);
    opacity:0.7;
    border-radius:15px;
    margin:10px 0;
    color:#222;
    border-left:3px coral solid;
    transition: 1s;
}
.well:hover{
    opacity:1;
}
.submit-button:hover{
    opacity:0.8;
}
.submit-button:active{
    border:silver 1px solid;
    background: coral;
    color:#fff;
}
h3{
    color:rgb(67,118,167);
}
@media(max-width:1199px){
    section *,footer{
        font-size: 0.5rem !important;
    }
    .feedback-box{
        margin-top:10%;
    }
    #feedback-footer{
        opacity: 0;
    }
}
